@import url("https://fonts.googleapis.com/css?family=News+Cycle&display=swap");

html {
  font-family: "News Cycle", sans-serif;
}

.categories {
  display: flex;
  justify-content: space-evenly;
  background-color: teal;
  text-decoration: none;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
  text-shadow: black 1px 1px;
}

.newscard img {
  height: 20vh;
  width: 20vh;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}
.newscard {
  display: flex;

  padding: 1rem;
  border: solid gray 1px;
  box-shadow: 1px 1px 1px gray;
  margin: 5px 5px;
}

.homenews {
  margin-left: 3%;
  margin-right: 3%;
}

.newscarddetail {
  color: sienna;
  margin-left: 10px;
}

button {
  background-color: teal;
  border-radius: 5px;
  text-align: right;
}
button a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 724px) {
  .homenews {
    margin-left: 0;
    margin-right: 0;
  }

  .newscard img {
    display: none;
  }
  .categories {
    flex-wrap: wrap;
  }
}
